<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<span th:if="${session.user!=null}">
    <h1 th:text="${session.user.username}">&nbsp;</h1>
    <a href="/user.do/logout">退出登录</a>
</span>
<span th:if="${session.user==null}">
    <h1>&nbsp;</h1>
<a href="/user.do/toLogin">返回登录</a>
</span>
<!--<a href="/user.do/toLogin">返回登录</a>-->
<a href="/baidu">点击我去百度</a>
<a href="/click">click me</a>
<h1>这是首页</h1>
</body>
</html>