<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>投票</title>
</head>
<body>
<div style="margin: 0 auto;" align="center">
    <form method="post" action="/article.do/getVoteData" th:action="@{/article.do/getVoteData}">
        <h2 th:text="${article.title}">xx</h2>
        <input type="hidden" th:value="${article.id}" name="id">
        <input th:each="article : ${article.options}" type="radio" th:text="${article.content}" th:value="${article.content}" name="content">
        <input type="submit" value="提交">
    </form>
</div>
</body>
</html>